<!DOCTYPE html>
<html xmlnm:th="http://www.thymeleaf.org">
    <head>
        <title>Index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <a th:href="@{/agregar}">Crear persona</a>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border = "1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <td>Eliminar</td>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar nombre</td>
                    <td th:text="${persona.apellido}">Mostrar apellido</td>
                    <td th:text="${persona.email}">Mostrar email</td>
                    <td th:text="${persona.telefono}">Mostrar telefono</td>
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="Eliminar"/></td>
                    
                </tr>
            </table> 
        </div>
        <div th:if="${personas == null or personas.empty}">
            la lista de personas esta vacia
        </div>
    </body>
</html>
